:root {
    --hoverDarkPurple: purple;
    --hoverLightPurple: rgb(251, 213, 251);
    --hoverButtontextColor: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 10px 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.hero {
    height: 80vh;
    padding: 24px;
}

.header_wrapper {
    display: flex;
    align-items: center;
}

.header_left_container {
    width: 100px;
}

.header_left_container img{
    width: 100%;
}
.header_right_container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
}
#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
}
.header_right_container a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: .2s;
    user-select: none;
    
}
.header_right_container span img{
    width: 100%;
}

.header_right_container span{
    width: 30px;
    height: 30px;
    display: none;
}

.header_right_container a:hover {
    background-color: var(--hoverLightPurple);
    cursor: pointer;
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    #menu{
        display: none;
    }
    .header_right_container span{
        display: block;
    }

}